.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf1d6;
  border: solid 2px black;
}

.game-title {
  font-family: Rubik Bubbles;
  font-size: 7rem;
  color: #40513b;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  margin-bottom: 3rem;
}

.name_board {
  display: flex;
  flex-direction: row;
}

.board-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fefae0;
  font-size: 4rem;
}

#square-3,
#square-4,
#square-5 {
  border-bottom: solid 3px black;
  border-top: solid 3px black;
  border-color: #40513b;
}

#square-1,
#square-4,
#square-7 {
  border-left: solid 3px black;
  border-right: solid 3px black;
  border-color: #40513b;
}

.starting-buttons {
  margin: 1rem;
}
.start-game {
  margin: 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  height: 48px;
}
.start-game:hover {
  background-color: #1db954;
}

.start-game:disabled {
  background-color: grey;
}
.start-game:active,
.restart-game:active {
  transform: scale(0.95);
}

.restart-game {
  margin: 1rem;

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #f25f5f;
  height: 48px;
}
.restart-game:hover {
  background-color: #e71212;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 2rem;
  align-items: center;
  justify-content: center;

  gap: 15px;
}
#player-1,
#player-2 {
  margin-bottom: 1rem;
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 70%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
}

#player-1:hover,
#player-2:hover {
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
}

#player-1:focus,
#player-2:focus {
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
}

.score {
  margin-left: 1rem;
  font-family: monospace;
  font-size: 1rem;
}

.message {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80vh;
  width: 80vw;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  border-radius: 20px;
}

.winning-message {
  position: absolute;
  top: 40%;
  font-family: monospace;
  font-size: 3rem;
  color: black;
  z-index: 2;
  color: #edf1d6;
}

.cover {
  display: none;
  background-color: #40513b;
}

#screenName {
  font-size: 2rem;
  line-height: 3rem;
  margin: 3rem;
  font-family: roboto;
  color: #40513b;
  text-align: center;
}
